/*-------- Search botton-------*/
body{
margin:0;
padding:0;
}

.head-hotel{
height:100vh;
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
font-family:sans-serif;
}


.search-btn{
width:150px;
background-color:#ff8800;
border:none;
color:#000;
border-radius:25px;
}

.search-btn:hover{
background:#ffc107;
cursor:pointer;
}
.form-box
{
background:rgba(0,0,0,0.5);
padding:30px;
}